body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#newTask {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#addTask {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#taskList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#taskList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

#taskList li:hover {
    background-color: #f0f0f0;
}

.delete {
    background-color: #f04141;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete:hover {
    background-color: #d81e1e;
}
